#error {

    width: 100vw;
    height: 100vh;
    background: $blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 150px;
        margin-bottom: 0;
        color: $red;
    }

    h3 {
        font-size: 26px;
        margin-top: 15px;
        color: $red;
    }
}