.error-container {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
    color: $error;
}

.horizontal-form-container {
    .error-container {
        padding-left: 0;
    }
}