$error: red;

$lightGray: #f3f3f3;
$gray: #c4c4c4;
$lightBlue: #6a7285;
$blue: #374258;
$red: #f74464;

$tableRow1: rgba(178, 199, 220, .2);
$tableRow2: rgba(199, 221, 255, .2);

$tableRow1Hover: rgba(178, 199, 220, .4);
$tableRow2Hover: rgba(178, 199, 220, .4);

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1220px;
$break-xl: 1660px;